body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

nav button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav button:hover {
    background-color: #45a049;
    color: white;
}

main {
    padding: 20px;
}

.galeria-llenguatges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 120px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.card img {
    width: 80px;
    height: 80px;
}

.card:hover {
    transform: scale(1.1);
}
