body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    background-color: white;
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid gray;
}

button {
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

li {
    list-style: none;
    background-color: #ddd;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

li:hover {
    background-color: #bbb;
}
