body {
    font-family: Arial, sans-serif;
    background-color: #eee;
}

.calculadora {
    background-color: white;
    width: 300px;
    margin: 80px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

button {
    width: 45%;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

#resultat {
    font-size: 18px;
    margin-top: 15px;
}
