body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
}

.container {
    width: 300px;
    background-color: white;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input, select, button {
    padding: 10px;
    margin: 5px;
    width: 90%;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
