body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.botons button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botons button:hover {
    background-color: #007BFF;
    color: white;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.galeria img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.galeria img:hover {
    transform: scale(1.2);
}
